In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df  = pd.read_excel('shirt_size.xlsx')

In [12]:
df

    Height_cms  Weight_kgs T_Shirt_Size
0          158          58            M
1          158          59            M
2          160          64            L
3          163          64            L
4          165          61            L
5          158          63            M
6          160          59            M
7          165          62            L
8          165          65            L
9          160          60            M
10         163          60            M
11         168          62            L
12         168          63            L
13         168          66            L
14         170          63            L
15         163          61            M
16         170          64            L
17         170          68            L

In [13]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [20]:
att = df[['Height_cms','Weight_kgs']]
label = df['T_Shirt_Size']

att_train , att_test , class_train , class_test  = train_test_split(att,label,random_state=0,train_size=0.7)


scaler = StandardScaler()
scaler.fit(att_train)

att_train[['Height_cms','Weight_kgs']] = scaler.transform(att_train)

model = KNeighborsClassifier(n_neighbors=3)
model.fit(att_train,class_train)


model.score( scaler.transform(att_test) , class_test)

c:\Users\Pasin Sangjun\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

1.0

In [15]:
result = pd.concat([att_test,class_test] , axis= 1)
result['predict'] = model.predict(att_test)
result

    Height_cms  Weight_kgs T_Shirt_Size predict
1          158          59            M       L
6          160          59            M       L
8          165          65            L       L
10         163          60            M       L
14         170          63            L       L
4          165          61            L       L

In [16]:
model.predict(att_train)

array(['L', 'L', 'L', 'M', 'L', 'L', 'L', 'L', 'M', 'L', 'M', 'L'],
      dtype=object)

In [17]:
att_train

    Height_cms  Weight_kgs
2    -0.978780    0.427900
16    1.324232    0.427900
17    1.324232    2.007839
9    -0.978780   -1.152039
7     0.172726   -0.362069
13    0.863630    1.217870
11    0.863630   -0.362069
3    -0.287877    0.427900
0    -1.439383   -1.942009
5    -1.439383    0.032915
15   -0.287877   -0.757054
12    0.863630    0.032915

In [18]:
class_train

2     L
16    L
17    L
9     M
7     L
13    L
11    L
3     L
0     M
5     M
15    M
12    L
Name: T_Shirt_Size, dtype: object