In [92]:
2+2

4

In [93]:
print ('Welcome')
print('to Acads')
Lab1

Welcome
to Acads

NameError: name 'Lab1' is not defined

Lab1

In [ ]:
3+5

8

In [ ]:
3<5

True

In [ ]:
print ('3+5 is', 3+5)

3+5 is 8

In [ ]:
x = 5
y = 'Hello'

In [ ]:
age = input('Plz input:')

In [ ]:
age

'50'

In [ ]:
print(age)

50

In [ ]:
type(age)

str

In [ ]:
str(500)

'500'

In [ ]:
int('Acads')

ValueError: invalid literal for int() with base 10: 'Acads'

In [ ]:
age= input('How old are you')

In [ ]:
print(int(age)+5)

55

In [ ]:
x,y=10,20

In [ ]:
x,y= 10,20
x,y= y+1,x+1

In [ ]:
x,y

(21, 11)

In [ ]:
5/2

2.5

In [ ]:
5//2

2

In [ ]:
-5/2

-2.5

In [ ]:
-5//2

-3

In [ ]:
9%5

4

In [ ]:
x =10
y =20

if x<y :
    print(x)
else :
    print(y)
    print('is the minimum value')

10

In [ ]:
x=99
if x==10 :
    print(10)
else :
    if x==20 :
        print(20)
    else :
        if x==30 :
            print(30)
        else :
            print(x)

99

In [ ]:
5<2

False

In [ ]:
if (5<2) and (3/0>1) :
    print('Get')
else :
    print('Flase')

Flase

In [ ]:
y = 0.1*3

if y!=0.3:
    print('Lunch Missile')
else:
    print('Let have peace')

Lunch Missile

In [ ]:
n=input()
n=int(n)
i=1
while i<=12 :
    print(n, 'X',i,'=',n*i)
    i=i+1

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60

In [96]:
n=int(input())

for i in range(1,13,1) :
    print(n, 'X',i,'=',n*i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60

In [98]:
for i in range(10,1,-2) :
    print(i)

10
8
6
4
2

In [99]:
def max(a,b):
    if a > b:
        return a
    else:
        return b

In [100]:
max(50,60)

60

In [104]:
def max_r(a,b):
    if a > b:
        return a
    else:
        return b

In [105]:
max_r(80,20)

80

In [111]:
def max_r(a,b):
    "return maximum among a and b"
    if (a > b):
        return a
    else:
        return b

In [112]:
help(max_r)

Help on function max_r in module __main__:

max_r(a, b)
    return maximum among a and b

In [113]:
def printName(first,last,initials) :
    if initials :
        print(first[0]+'.',last[0]+'.')
    else :
        print(first,last)

In [122]:
printName('Pasin','Sangjun',True)

P. S.

In [116]:
printName(initials=True,last='Sangjun',first='Pasin')

P. S.

In [118]:
help(printName)

Help on function printName in module __main__:

printName(first, last, initials)

In [133]:
x=10

"""
def test01():
    print(x)
"""

def test02():
    global x
    x=20

In [134]:
test01()

10

In [135]:
name = 'intro to python'

In [136]:
name

'intro to python'

In [137]:
name[1]

'n'

In [143]:
len(name)

15

In [147]:
name+'Hello'

'intro to pythonHello'

In [148]:
name*3

'intro to pythonintro to pythonintro to python'

In [149]:
name

'intro to python'

In [150]:
name[-2]

'o'

In [151]:
name[9:15]

'python'

In [152]:
name[-6:]

'python'

In [153]:
name[:]

'intro to python'

In [154]:
name[0:11:2]

'itot y'

In [162]:
name[len(name)::-1]

'nohtyp ot ortni'